
@{
    ViewBag.Title = "Takip";
    Layout = "~/Views/Shared/_LayoutBaskan.cshtml";
}

<div class="container">
    <div class="jumbotron">
        @ViewBag.personel.personelAd
    </div>
    @foreach (var tekIs in ViewBag.isler)
    {
        <div class="card">
            <div class="card-header">@tekIs.isAd</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">İş Açıklama : @tekIs.isAciklama</li>
                    <li class="list-group-item">İş Tarihi : @tekIs.isTarih</li>
                    <li class="list-group-item">İletilen Tarih : @tekIs.iletilenTarih</li>
                    <li class="list-group-item">Yapılan Tarih : @tekIs.yapilanTarih</li>
                    <li class="list-group-item">İş Durumu : @tekIs.isDurum</li>
                </ul>
            </div>
        </div>
    }

</div>


