@model IEnumerable<Personel.Models.Personeller>

@{
    ViewBag.Title = "Personel";
}

<h2>Personel</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCKimlikNO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Sil", "Personel", new { id = item.Id }, FormMethod.Post))
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TCKimlikNO)
                    </td>
                    <td>
                        <input type="submit" value="Sil" />
                    </td>
                </tr>
        }

    }

</table>
